@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Page background and default text color */
        --background: 1 0 0; /* white - #ffffff */
        --foreground: 0.29 0.021 257; /* slate-800 - #1e293b */

        /* Background for components that sit on top of the page background (headers, cards, etc.) */
        --card: 1 0 0; /* white - #ffffff */
        --card-foreground: 0.29 0.021 257; /* slate-800 - #1e293b */

        /* Background for popovers */
        --popover: 1 0 0; /* white - #ffffff */
        --popover-foreground: 0.29 0.021 257; /* slate-800 - #1e293b */

        /* Primary brand color for main call-to-action buttons */
        --primary: 0.3717 0.0392 257.29; /* slate-700 - #334155 */
        --primary-foreground: 1 0 0; /* white - #ffffff */
        --primary-hover: 0.81 0.013 258; /* slate-300 - #e2e8f0 */

        /* Secondary color for less prominent interactive elements */
        --secondary: 0.9288 0.0126 255.51; /* slate-200 - #e2e8f0 */
        --secondary-foreground: 0.4455 0.0374 257.28; /* slate-600 - #475569 */

        /* Muted color for subtle/deemphasized text */
        --muted: 0.96 0.01 258; /* slate-100 - #f1f5f9 */
        --muted-foreground: 0.5544 0.0407 257.42; /* slate-500 - #64748b */

        /* Accent color for hover states, selections, or active links */
        --accent: 0.96 0.01 258; /* slate-100 - #f1f5f9 */
        --accent-foreground: 0.29 0.021 257; /* slate-800 - #1e293b */

        /* Color for borders and dividers */
        --border: 0.81 0.013 258; /* slate-300 - #cbd5e1 */

        /* Color for focus rings */
        --ring: 0.4455 0.0374 257.28; /* slate-600 - #475569 */
        --radius: 0.5rem;
    }

    .dark {
        --background: 0.29 0.021 257; /* slate-800 - #1e293b */
        --foreground: 1 0 0; /* white - #ffffff */
        --card: 0.3717 0.0392 257.29; /* slate-700 - #334155 */
        --card-foreground: 1 0 0; /* white - #ffffff */
        --popover: 0.3717 0.0392 257.29; /* slate-700 - #334155 */
        --popover-foreground: 1 0 0; /* white - #ffffff */
        --primary: 1 0 0; /* white - #ffffff */
        --primary-foreground: 0.3717 0.0392 257.29; /* slate-700 - #334155 */
        --primary-hover: 0.81 0.013 258; /* slate-300 - #e2e8f0 */
        --secondary: 0.4455 0.0374 257.28; /* slate-600 - #475569 */
        --secondary-foreground: 0.9288 0.0126 255.51; /* slate-200 - #e2e8f0 */
        --muted: 0.4455 0.0374 257.28; /* slate-600 - #475569 */
        --muted-foreground: 0.9288 0.0126 255.51; /* slate-200 - #e2e8f0 */
        --accent: 0.5544 0.0407 257.42; /* slate-500 - #64748b */
        --accent-foreground: 0.9683 0.0069 247.9; /* slate-100 - #f1f5f9 */
        --border: 0.4455 0.0374 257.28; /* slate-600 - #475569 */
        --ring: 0.9288 0.0126 255.51; /* slate-200 - #e2e8f0 */
    }
}
